:root{
    --colored-font: #0058CF;
    --bg-color: #FAFAFA;
    --base-color: #828282;
}

body {
    margin: 0;
    padding: 0;
    /*Change main font??*/
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--base-color);
}

main{
    display:Flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
section {
    display: Flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    max-width: 1436px;
    margin-bottom: 2.5rem;
}
.Left {
    width: 30%;
    margin: 0 3rem 0 3rem;
    min-width: 250px;
}
.Right {
    width: 70%;
    min-width: 575px;
    margin: 0 3rem 0 3rem;
}
hr{
    width:100%;
    height: .15rem;
    background-color:var(--base-color);
    border: 0;
    margin: 1rem 0 2rem 0;
}
h3{
    margin: 0 0 1rem 0;
    color: var(--colored-font);
}
h4{
    font-weight: lighter;
    margin:0;
}
h5{
    margin: 0 0 1rem 0;
}
h6{
    font-weight: lighter;
    margin:0;
}


/*Name Component CSS*/

#Name{
    height: 100vh;
}
.Top{
    display: Flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 3rem 3rem 3rem;
}
#HeadShot{
    width:100%;

}
#head-shot {
    height: auto;
    width: 100%;
    border-radius: 50%;
}
#NameTag{
    width:100%;
    margin: 4rem 0 0 0;
}
#first-name{
    font-size: 5rem;
    margin:0 0 0 4px;
    line-height: 88%;
    font-weight: lighter;
}
#last-name{
    font-size: 5.5rem;
    margin:0;
    line-height: 90%;
    color: var(--colored-font);
}
#first-name-footer{
    font-size: 3rem;
    margin:0 0 0 4px;
    line-height: 88%;
    font-weight: lighter;
}
#last-name-footer{
    font-size: 3.5rem;
    margin:0;
    line-height: 90%;
    color: var(--colored-font);
}
#title{
    margin:1rem 0 0 4px;
    font-weight: lighter;
    font-size:1.75rem;
    text-align: end;
}
.Icon{
    opacity: .5;
    color: var(--bg-color);
    background: var(--base-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 8px;
    margin: 0 .25rem 0 .25rem;
    align-self: flex-end;
}
.Icon:hover{
    opacity: .8;
    color: var(--colored-font);
}
#InfoTag{
    width:100%;
}
.Column{
    width: 25%;
    font-size: 1.25rem;
}
.Column50{
    width: 50%;
    font-size: 1.25rem;
}
.flex-row{
    display: Flex;
    flex-direction: row;

}
.flex-end{
    display: Flex;
    align-items: flex-end;
}
.flex-space-between{
    display: Flex;
    justify-content: space-between;
}
.flex-column{
    display: Flex;
    flex-flow: column;

}
.flex-wrap{
    display: Flex;
    flex-wrap: wrap;
}
p{
    font-size: 1.25rem;
    margin: 0;
}
.Tech-Skills{
    border-left: solid .2rem var(--colored-font);
    padding: 0 0 0 .75rem;
    margin: 0 0 1rem 0;
}
.non-Tech-Skills{
    border-left: solid .2rem ;
    padding: 0 0 0 .75rem;
    margin: 0 0 1rem 0;
}
.margin-gray{
    margin: 0;
    color: var(--base-color);
}
.Experience{
    margin: 0 0 1rem 0;
}
.LineHeight{
    line-height: 1.4;
}
.lineItem{
    font-size: 1rem;
    margin: 0 0 .25rem .5rem;
}
ul{
    list-style: none;
    margin:0 0 0 -1rem;
    padding-left: 0;
}
li {
    padding-left: .25em;
    text-indent: -1em;
    line-height: 1.25;
}
li:before{
    content: "-";
    padding-right: .55rem;
    color: var(--colored-font);
    font-weight: bold;
}
.projectHead{
    width: 90%;
    height: 3rem;

}
.project{
    width: 90%;
    height: 13rem;
    margin: 1rem 5% 1rem 0;
    border: solid 3px;
    position: relative;
    background-size: cover !important;
    overflow: hidden;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    border-radius: .5rem;
}
.text {
    background-color: var(--colored-font);
    color: var(--bg-color);
    font-size: 1rem;
    padding: 16px 32px;
}
.Column50:hover .middle{
 opacity: .8;
}

#Warehouse{
    background-image: url("https://images.unsplash.com/photo-1470173274384-c4e8e2f9ea4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8f8bf185da8d21fad65f2636d6021ba7&auto=format&fit=crop&w=2700&q=80");
}
#ArtEcommerce{
    background-image: url("https://images.unsplash.com/photo-1494346630177-f9d9a1a9f716?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=99f0ede13a208504d84cf8e02a7612bc&auto=format&fit=crop&w=1950&q=80");
}
#PersonalResume{
    background-image: url("https://images.unsplash.com/photo-1482440308425-276ad0f28b19?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=95f938199a2d20d027c2e16195089412&auto=format&fit=crop&w=1950&q=80");
}
#QuadGuard{
     background-image: url("https://images.unsplash.com/photo-1470173274384-c4e8e2f9ea4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8f8bf185da8d21fad65f2636d6021ba7&auto=format&fit=crop&w=2700&q=80");
}
#Photography{
    background-image: url("https://images.unsplash.com/photo-1470940511639-1068d7764233?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9af545bc163428458f91b05101e38ef8&auto=format&fit=crop&w=1953&q=80");
}
#Woodworking{
    background-image: url("https://images.unsplash.com/photo-1422246654994-34520d5a0340?ixlib=rb-0.3.5&s=76458625a3adf9cbc6438f4ab36b85a7&auto=format&fit=crop&w=1950&q=80");
}
#RunTri{
     background-image: url("https://images.unsplash.com/photo-1469395446868-fb6a048d5ca3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3b253c025759db68595a316e7d4991fd&auto=format&fit=crop&w=2690&q=80");
 }