:root{
    --colored-font: #0058CF;
}

body {
    margin: 0;
    padding: 0;
    /*Change main font??*/
    font-family: sans-serif;
    background-color: #FAFAFA;
    color: #828282;
}

/*#Name {*/
    /*display: Flex;*/
    /*justify-content: center;*/
    /*width: 100vw;*/
    /*height: 100vh;*/
/*}*/

section {
    display: Flex;
    /*flex-flow: wrap;*/
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.Left {
    display: Flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2%;
    width: 40%;
}

.Right {
    display: Flex;
    align-items: center;
    width: 60%;
    margin: 2%;
}


#HeadShot{
    width:70%;
    max-width: 300px;
    min-width: 250px;
}

#head-shot {
    height: auto;
    width: 100%;
    border-radius: 50%;
}

#first-name{
    font-size: 58px;
    margin:0 0 -15px 4px;
    font-weight: lighter;
}

#last-name{
    font-size: 85px;
    margin:0;
    color: var(--colored-font);
}

#title{
    margin:0 0 0 4px;
    font-weight: lighter;
    font-size:24px;
}

.Icon{
    border: solid black 1px;
    width: 30px;
    height: 30px;
    border-radius: 8px;
}

.flex-row{
    display: Flex;
    flex-direction: row;
    align-content: space-between;
}